.cart-area {
  padding-bottom: 30px;
  margin: 10px;
}
.table {
  width: 100%;
  font-size: 1rem !important;
  text-align: center;
  background-color: orange;
  border-radius: 0.8rem;
  margin: 5px;
}
