* {    
  margin: 0;
  padding: 0;
}
.shopTitle {
  text-align: center;
  font-size: 40px;
}
.productlist{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.products {

  width: 1224px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border: solid 1px rgb(39, 38, 38);
  border-radius: 15px;
  margin-right: 15px;
}

.product {
  background-color: aquamarine;
  border-radius: 15px;
  width: 300px;
  height: 350px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 220px;
  height: 240px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
