.detail-product{
    margin: 0 5rem;
    height: 100%;
}

.navbar-detail{
    display: flex;
    justify-content: flex-start;
    background-color: #e9ecef;
    padding: 0 1.5rem;
    height: 40px;
    font-size: 16px;
    align-items: center;
}

.productInfo{
    padding: 0.5rem 1.5rem;
    width: 100%;
    min-height: 350px;
}

.productInfo > img{
    width: 300px;
    max-height: 300px;
    margin: 0px 40px;
}