

.navbar {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  /* border-bottom: 1px solid #dee2e6; */
  padding: 5px 0px;

}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.container{
  height: 70px;
}
.navbar__logo{
  display: flex;
  justify-content: flex-start;
}
.logo {
  max-width: 50px;
}

.form-inline {
  margin-left: auto;
}

.form-inline input[type="search"] {
  width: 300px;
}

@media (max-width: 767px) {
  .navbar .container {
    flex-wrap: wrap;
  }

  .logo {
    margin-right: 10px;
  }

  .form-inline {
    margin-top: 10px;
    margin-left: 0;
  }

  .form-inline input[type="search"] {
    width: 100%;
  }
}
.link {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.link a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  font-size: 18px;
}

li{
  display: inline-block;
}

.navbar-expand-sm{
  height: 40px;
  background-color: #FFBD0C;
  position: relative;
}
.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.nav-item{
  width: 100px;
}
.nav-item :hover{
  width: 100px;
  background-color: #f9d165;
}
.button{
  border: none;
  background-color: #FFBD0C;
  height: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:active{
  background-color: #f9d165;
}