.food-card {
    transition: 0.1s;
    border-radius: 5%;
    width: 280px;
    height: 390px;
    border: solid 1px black;
    box-shadow: 0 2px 4px #3c3b3b, 0 2px 4px #3c3b3b;
  }
.food-card_img {
    display: flex;
    height: 200px;
    justify-content: center;
  }
  .food-card .food-card_img img {
    display: block;
    /* width: 90%;
    max-height: 200px; */
    object-fit: cover;
    margin: 0px auto;
    transition: all 1s;
  }
  .food-card .food-card_img img:hover {
    transform: scale(1.1);
  }
  .food-card .food-card_content {
    padding: 15px;
  }
  .food-card .food-card_content .food-card_title-section .food-card_title a {
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: all 0.5s;
    text-decoration: none;
  }
  .food-card
    .food-card_content
    .food-card_title-section
    .food-card_title
    a:hover {
    color: #f47a00;
  }
.food-card_title-section {
    font-size: 25px;
    display: block;
    font-family: "Satisfy", cursive;
  }
.food-card_price {
    font-size: 18px;
    font-weight: 500;
    color: #f47a00;
  }
.food-card_order-count {
    width: 80px;
    margin-top: 15px;
    margin-right: 35px;
    border-radius: 5px;
  }


